nextflow.enable.dsl = 2

params {

    draft        = null
    hifi         = null
    ont          = null
    illumina_r1  = null
    illumina_r2  = null

    truth_vcf    = null

    mode         = "train"

    outdir       = "results"

    mapping_container      = "metapolisher-align:latest"
    deepvariant_container  = "google/deepvariant:1.9.0"
    pepper_container       = "kishwars/pepper_deepvariant:r0.8"
    sv_container           = "metapolisher-sv:latest"
    polishing_container    = "metapolisher/polishing:latest"
    flagger_container      = "mobinasri/flagger:v1.1.0"
    ml_container           = "metapolisher/ml:latest"
}

process {

    executor = 'local'

    cpus = 8
    memory = '32 GB'
    time = '72h'

    errorStrategy = 'terminate'

}

docker.enabled = true
singularity.enabled = false

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}